@import "app.css";

/* El class override */
.el-button--primary {
    background-color: var(--primary) !important;
    border: none !important;
    opacity: 1;
    transition: opacity .5s ease-out !important;
    height: 25px;
}

.el-button--primary:hover {
    opacity: 80%;
}

.el-input__wrapper.is-focus {
    border-color: var(--success) !important;
}

.el-table {
    border-radius: 5px !important;
}

.my-table-header {
    color: white !important;
    background-color: var(--background1) !important;
}


:root {
    --el-menu-active-color: var(--secondary) !important;
    --el-menu-text-color: var(--text1) !important;
    --el-menu-hover-text-color: red !important;
    --el-menu-hover-bg-color: #00408199 !important;
    --el-menu-bg-color: var(--background2) !important;
    --el-menu-border-color: transparent !important;
    --el-menu-item-height: 40px !important;
    --el-menu-sub-item-height: 40px !important;

    /* Table  */
    --el-table-header-text-color: var(--text2) !important;

    /* --el-color-white: red !important; */
    /* --el-bg-color-overlay: var(--background1) !important; */
}